html{
    background-color: #00abda;
    font-family: roboto,sans-serif;
}

body{
 width: 600px;
 background-color: #fff;
 margin: 0;
 padding: 0 20px 20px 20px;
 border: 5px solid #333;   
} 


h1{
    margin: 0;
    padding: 20px;
    color: #00abda;
    text-shadow: 3px 3px 1px #333;
    text-align: center;
}

img{
    margin: 0 auto;
    display: flex;
}
